<h2>Subscriptions</h2>
<ul class="channel-list">
  <li class="channel-item">
    <a routerLink="channel1" routerLinkActive="active">
      <img src="assets/channel1-logo.png"  class="channel-logo">
      <span>Channel 1</span>
    </a>
  </li>
  <li class="channel-item">
    <a routerLink="channel2" routerLinkActive="active">
      <img src="assets/channel2-logo.png"  class="channel-logo">
      <span>Channel 2</span>
    </a>
  </li>
  <li class="channel-item">
    <a routerLink="channel3" routerLinkActive="active">
      <img src="assets/channel3-logo.png"  class="channel-logo">
      <span>Channel 3</span>
    </a>
  </li>
  
</ul>

<router-outlet></router-outlet>