<div class="channel-container">
    <div class="Funkey's-header">
      <img src="assets/channel2-logo.png"  class="channel-logo">
      <div class="channel-info">
        <h3>Funkey's</h3>
        <p>600k Subscribers</p>
        <p>800 Videos</p>
      </div>
    </div>
  
    <div class="channel-videos">
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Chuttamalle song</p>
          <p class="video-metadata">500K views • 1 week ago</p>
        </div>
      </div>
  
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Nuvvele song</p>
          <p class="video-metadata">700K views • 3 weeks ago</p>
        </div>
      </div>
    </div>
  </div>