<div class="channel-container">
    <div class="Monkey's-header">
      <img src="assets/channel1-logo.png"  class="channel-logo">
      <div class="channel-info">
        <h3>Monkey's</h3>
        <p>500k Subscribers</p>
        <p>100 Videos</p>
      </div>
    </div>
  
    <div class="channel-videos">
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Sandhulo Sandhya</p>
          <p class="video-metadata">100K views • 1 week ago</p>
        </div>
      </div>
  
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Megham lo Meghana</p>
          <p class="video-metadata">250K views • 2 weeks ago</p>
        </div>
      </div>
    </div>
  </div>