<div class="channel-container">
    <div class="Churi's-header">
      <img src="assets/channel3-logo.png" class="channel-logo">
      <div class="channel-info">
        <h3>Churi's</h3>
        <p>1M Subscribers</p>
        <p>1200 Videos</p>
      </div>
    </div>
  
    <div class="channel-videos">
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Home Tour</p>
          <p class="video-metadata">1M views • 1 month ago</p>
        </div>
      </div>
  
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Dream Room</p>
          <p class="video-metadata">1.1M views • 2 months ago</p>
        </div>
      </div>
    </div>
  </div>