<nav class="navbar">
    <button class="menu-button" (click)="toggleSidebar()">
      &#9776; <!-- Hamburger icon -->
    </button>
    <div class="logo">
      <i class="fab fa-youtube"></i>
      <span>Youtube</span>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search" />
      <button class="search-button">🔍</button>
    </div>
    <div class="user-actions">
      <button><i class="fas fa-plus"></i></button>
      <button><i class="fas fa-user"></i></button>
      <button> <i class="fas fa-bell"></i></button>
    </div>
  </nav>